$primary-color: var(--primary-color, red);
$accent-color: var(--accent-color, white);

.menu-button {
  border: 0px;
}

::ng-deep .menu-background {
  padding: 0px 14px;
  background-color: $primary-color;

  .mat-menu-item-submenu-trigger::after {
    color: $accent-color;
  }
}

.menu-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $accent-color;
  width: 186px;

  &.sub-menu {
    width: 125px;
  }

  &.last {
    border-bottom: 0px;
  }
}

.menu-text {
  color: $accent-color;
  font-family: "Gilroy-light";
  font-weight: 800;
}