<ng-container *ngIf="subMatMenu; else elseTemplate">
  <button mat-menu-item class="menu-options sub-menu" [matMenuTriggerFor]="subMatMenu" [ngClass]="{'last': last}">
    <img src="{{optionConfig.icon}}" alt="chiken" srcset="">
    <span class="menu-text">{{optionConfig.text}}</span>
  </button>
</ng-container>
<ng-template #elseTemplate>
  <button mat-menu-item class="menu-options" [ngClass]="{'last': last}">
    <img src="{{optionConfig.icon}}" alt="chiken" srcset="">
    <span class="menu-text">{{optionConfig.text}}</span>
  </button>
</ng-template>
