$primary-color: var(--primary-color, red);
$accent-color: var(--accent-color, white);
$font-family: var(--font-family, "Gilroy-light");

.menu-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $accent-color;
  width: 186px;

  &.sub-menu {
    width: 125px;
  }

  &.last {
    border-bottom: 0px;
  }
}

.menu-text {
  color: $accent-color;
  font-family: "Gilroy-light";
  font-weight: 800;
}