<!--<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="navigation menu" class="menu-button">
  <img src="assets/images/menu.png" alt="menu" class="menu-icon" srcset="">
</button>

<mat-menu #menu="matMenu" class="menu-background">
  <cc-drop-down-option></cc-drop-down-option>
  <button mat-menu-item [matMenuTriggerFor]="option2" class="menu-options last">
    <img src="assets/images/menu-menu-icon.png" alt="menu" srcset="">
    <span class="menu-text">Opcion 2</span>
  </button>
</mat-menu>

<mat-menu #option1="matMenu" class="menu-background sub-menu">
  <button mat-menu-item class="menu-options sub-menu">
    <img src="assets/images/cross-menu-icon.png" alt="create" srcset="">
    <span class="menu-text">Opcion 11</span>
  </button>
  <button mat-menu-item class="menu-options sub-menu last">
    <img src="assets/images/lens-menu-icon.png" alt="search" srcset="">
    <span class="menu-text">Opcion 12</span>
  </button>
</mat-menu>

<mat-menu #option2="matMenu" class="menu-background sub-menu">
  <button mat-menu-item class="menu-options sub-menu">
    <img src="assets/images/cross-menu-icon.png" alt="create" srcset="">
    <span class="menu-text">Opcion 21</span>
  </button>
  <button mat-menu-item class="menu-options sub-menu last">
    <img src="assets/images/lens-menu-icon.png" alt="create" srcset="">
    <span class="menu-text">Opcion 22</span>
  </button>
</mat-menu>-->

<button mat-icon-button [matMenuTriggerFor]="matMenu" aria-label="navigation menu" class="menu-button">
  <img src="assets/images/menu.png" alt="menu" class="menu-icon" srcset="">
</button>

<ng-template cc-add-host></ng-template>
