$primary-color: var(--primary-color, red);
$accent-color: var(--accent-color, white);

.menu-button {
  border: 0px;
}

::ng-deep .menu {
  background-color: $primary-color;
}

.menu-options {
  color: $accent-color;
  font-weight: 800;
}