$primary-color: var(--primary-color, red);
$accent-color: var(--accent-color, white);
$font-family: var(--font-family, "Gilroy-light");

::ng-deep .menu-background {
  padding: 0px 14px;
  background-color: $primary-color;

  &.sub-menu {
    .mat-menu-item {
      padding: 0px;
    }
  }

  .mat-menu-item {
    padding: 0px 36px 0px 0px;
  }

  .mat-menu-item-submenu-trigger::after {
    color: $accent-color;
  }
}